<div class="events__list">
  <div class="item item--event" id="e1">
    <div class="item__image item__image--event"></div>
    <div class="item__information item__information--event">
      <h2 class="item__title">House Tour</h2>
      <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="item__date">Date: <span>4/29/2020</span></div>
      <div class="item__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="item__cta">
        <div class="item__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="item__cta__text item__cta__text--event">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="item item--event" id="e2">
    <div class="item__image item__image--event1"></div>
    <div class="item__information item__information--event">
      <h2 class="item__title">House Tour</h2>
      <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="item__date">Date: <span>4/29/2020</span></div>
      <div class="item__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="item__cta">
        <div class="item__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="item__cta__text item__cta__text--event">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="item item--event" id="e3">
    <div class="item__image item__image--event1"></div>
    <div class="item__information item__information--event">
      <h2 class="item__title">House Tour</h2>
      <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="item__date">Date: <span>4/29/2020</span></div>
      <div class="item__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="item__cta">
        <div class="item__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="item__cta__text item__cta__text--event">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="item item--event" id="e4">
    <div class="item__image item__image--event1"></div>
    <div class="item__information item__information--event">
      <h2 class="item__title">House Tour</h2>
      <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="item__date">Date: <span>4/29/2020</span></div>
      <div class="item__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="item__cta">
        <div class="item__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="item__cta__text item__cta__text--event">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="events__message" id="noevents">
    Oops! There are no events for the selected dates.
  </div>
</div>
