<div class="events__list">
  <div class="event">
    <div class="event__image"></div>
    <div class="event__information">
      <div class="event__title">House Tour</div>
      <div class="event__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="event__date">Date: 4/29/2020</div>
      <div class="event__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="event__cta">
        <div class="event__cta__calendar">
          {%- include svg/calendar.html -%}
        </div>
        <a href="" class="event__cta__link">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="event__image"></div>
    <div class="event__information">
      <div class="event__title">House Tour</div>
      <div class="event__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="event__date">Date: 4/29/2020</div>
      <div class="event__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="event__cta">
        <div class="event__cta__calendar">
          {%- include svg/calendar.html -%}
        </div>
        <a href="" class="event__cta__link">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="event__image"></div>
    <div class="event__information">
      <div class="event__title">House Tour</div>
      <div class="event__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="event__date">Date: 4/29/2020</div>
      <div class="event__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="event__cta">
        <div class="event__cta__calendar">
          {%- include svg/calendar.html -%}
        </div>
        <a href="" class="event__cta__link">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="event__image"></div>
    <div class="event__information">
      <div class="event__title">House Tour</div>
      <div class="event__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="event__date">Date: 4/29/2020</div>
      <div class="event__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="event__cta">
        <div class="event__cta__calendar">
          {%- include svg/calendar.html -%}
        </div>
        <a href="" class="event__cta__link">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="event__image"></div>
    <div class="event__information">
      <div class="event__title">House Tour</div>
      <div class="event__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="event__date">Date: 4/29/2020</div>
      <div class="event__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="event__cta">
        <div class="event__cta__calendar">
          {%- include svg/calendar.html -%}
        </div>
        <a href="" class="event__cta__link">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="event__image"></div>
    <div class="event__information">
      <div class="event__title">House Tour</div>
      <div class="event__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="event__date">Date: 4/29/2020</div>
      <div class="event__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="event__cta">
        <div class="event__cta__calendar">
          {%- include svg/calendar.html -%}
        </div>
        <a href="" class="event__cta__link">Add to calendar</a>
      </div>
    </div>
  </div>
</div>
