<div class="events__list">
  <div class="location location--big" id="e1">
    <div class="location__image location__image--big"></div>
    <div class="location__information location__information--big">
      <h2 class="location__title">House Tour</h2>
      <div class="location__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="location__date">Date: <span>4/29/2020</span></div>
      <div class="location__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="location__cta">
        <div class="location__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="location__cta__text location__cta__text--yellow">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="location location--big" id="e2">
    <div class="location__image location__image--big"></div>
    <div class="location__information location__information--big">
      <h2 class="location__title">House Tour</h2>
      <div class="location__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="location__date">Date: <span>4/29/2020</span></div>
      <div class="location__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="location__cta">
        <div class="location__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="location__cta__text location__cta__text--yellow">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="location location--big" id="e3">
    <div class="location__image location__image--big"></div>
    <div class="location__information location__information--big">
      <h2 class="location__title">House Tour</h2>
      <div class="location__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="location__date">Date: <span>4/29/2020</span></div>
      <div class="location__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="location__cta">
        <div class="location__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="location__cta__text location__cta__text--yellow">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="location location--big" id="e4">
    <div class="location__image location__image--big"></div>
    <div class="location__information location__information--big">
      <h2 class="location__title">House Tour</h2>
      <div class="location__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      <div class="location__date">Date: <span>4/29/2020</span></div>
      <div class="location__time">Time: 9:00 AM - 7:00 PM</div>
      <div class="location__cta">
        <div class="location__cta__icon">
          {%- include svg/calendar.svg -%}
        </div>
        <a href="#" class="location__cta__text location__cta__text--yellow">Add to calendar</a>
      </div>
    </div>
  </div>
  <div class="events__message" id="noevents">
    Oops! There are no events for the selected dates.
  </div>
</div>
