<div class="popup" id="popup--instagrammable">
  <div class="popup__image" style="background-image: url('/assets/images/instagrammable.jpg');"></div>
  <div class="popup__header">
    <h1 class="popup__title">Instagrammable.</h1>
    <a href="#" class="popup__close" data-close-button>
      {%- include svg/close-button.svg -%}
    </a>
  </div>
  <div class="popup__body">
  <div class="popup__body__wrapper">
    <div class="location">
      <div class="location__image location__image--instagrammable1"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Yacht Club at the Parker Palm Springs</h2>
        <div class="location__description">Spa/Food : We believe in the American country club experience: mixed doubles, a long steam, and a stiff cocktail. We believe in inner beauty.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable1" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--instagrammable2"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Bike Trails</h2>
        <div class="location__description">Biking Trails : A map of all the bike routes on the City streets of Palm Springs is available free from the Department of Community Services at 401 S Pavilion Way</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable2" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--instagrammable3"></div>
      <div class="location__information">
        <h2 class="location__title">MidMod Design Tour</h2>
        <div class="location__description">See Palm Springs history in context, up-close-and-personal, through the eyes of talented designer, Lyle Boatman. This guide knows his material! He is the only tour guide working in Palm Springs that has a professional degree in Architecture.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable3" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--instagrammable4"></div>
      <div class="location__information">
        <h2 class="location__title">Five Star Adventures Tours</h2>
        <div class="location__description">Relax in one of our air-conditioned, luxury mini-coaches or Mercedes-Benz Sprinter. Take an exclusive step back in time and see over 50 movie star homes of the past and present. Other tours include : Landmarks, Indian Canyons, Rat Pack Hideaway, Hollywood Movie Location</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable4" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--instagrammable5"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Art Museum Architecture and Design Center, Edwards Harris Pavilion</h2>
        <div class="location__description">The Palm Springs Art Museum Architecture and Design Center, Edwards Harris Pavilion is located in downtown Palm Springs. It is the country’s first historic structure to be transformed into a free-standing architecture and design museum that is housed in a modern building. The 13,000 square foot building, designed by renowned mid-century modern architect E. Stewart Williams, is a classic mid-century international style structure, and was recently designated as a protected Class I Historic Site. It features a ground level glass pavilion space that will showcase architecture and design exhibitions, a store, and curatorial offices.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable5" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--instagrammable6"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Art Museum</h2>
        <div class="location__description">Located in downtown Palm Springs, the museum’s extensive permanent collection includes significant works by western, contemporary and glass artists, and features temporary exhibitions from internationally acclaimed artists. Each month the museum features a free community day on the second Sunday of every month and is always free every Thursday from 4-8 p.m.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable6" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--instagrammable7"></div>
      <div class="location__information">
        <h2 class="location__title">Andreas Canyon Trail</h2>
        <div class="location__description">A leisurely hike along a quiet stream with ledges of rock used by Cahuilla women</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="instagrammable7" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="popup__scroll">
    {%- include svg/arrow.svg -%}
  </div>
</div>
