<div class="popup" id="popup--restaurants">
  <div class="popup__image" style="background-image: url('/assets/images/restaurants.jpg');"></div>
  <div class="popup__header">
    <h1 class="popup__title">Restaurants.</h1>
    <a href="#" class="popup__close" data-close-button>
      {%- include svg/close-button.svg -%}
    </a>
  </div>
  <div class="popup__body">
    <div class="popup__body__wrapper">
      <div class="location">
        <div class="location__image location__image--restaurant1"></div>
        <div class="location__information">
          <h2 class="location__title">Agua Caliente Casino Palm Springs</h2>
          <div class="location__description">Nestled in the heart of downtown Palm Springs, California, is the Agua Caliente Casino. Just moments away are the boutiques and galleries, hotels and restaurants that make Palm Springs one of California’s most adored resort getaways.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant1" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant1"></div>
        <div class="location__information">
          <h2 class="location__title">Agua Caliente Casino Palm Springs</h2>
          <div class="location__description">Nestled in the heart of downtown Palm Springs, California, is the Agua Caliente Casino. Just moments away are the boutiques and galleries, hotels and restaurants that make Palm Springs one of California’s most adored resort getaways.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant1" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant2"></div>
        <div class="location__information">
          <h2 class="location__title">Sherman's Deli & Bakery</h2>
          <div class="location__description">Since opening our first location in 1953, Sherman’s has become a landmark in the desert. A Kosher- style family restaurant, still owned and operated by Sherman Harris, his son, Sam and daughter Janet, we offer an extensive menu for breakfast, brunch, lunch and dinner reminiscent of a New York style deli.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant2" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant3"></div>
        <div class="location__information">
          <h2 class="location__title">Haus of Poké</h2>
          <div class="location__description">Haus of Poké is a hot, new quick-casual restaurant concept that features a combination of vibrant Pacific gamefish, housemade sauces, and locally sourced vegetables presented in a fun, interactive, Chipotle-style service model. Guests will be whisked away to the waters off the North Shore as they indulge in the freshest version of a concept that has already been proven successful in most metropolitan areas across the country. Haus of Poké’s concise menu and efficient service will complement the active lifestyle of travelers and shoppers alike.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant3" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant4"></div>
        <div class="location__information">
          <h2 class="location__title">FARM Palm Springs</h2>
          <div class="location__description">FARM is a traditional Provencal-style restaurant and we’ve taken care to create a menu comprised of traditional French dishes, brimming with locally sourced produce, eggs and artisanal meats. Our coffee is served French-press and our teas are each loose-leaf, so it takes a little time for them to open up and be pressed. Our jams are all house made. Our dishes are made to order with attention to taste, aroma and texture.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant4" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant5"></div>
        <div class="location__information">
          <h2 class="location__title">Workshop Kitchen and Bar</h2>
          <div class="location__description">Dedicated to food, drink, design, and community, Workshop is a gem in the heart of Palm Springs’ Uptown Design District. With farm-to-table New American fare and a classic cocktail bar, Workshop sources most of their ingredients from local farms within an hour of Palm Springs</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant5" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant6"></div>
        <div class="location__information">
          <h2 class="location__title">Jake's Palm Springs</h2>
          <div class="location__description">This hip-yet-casual American bistro serves up fresh, innovative fare and comfort food favorites, along with beverages from a full bar. Dine alfresco in our charming courtyard or sleek dining room. Join us for lunch, dinner, or brunch (served Sat. and Sun.) Takeout and catering available for your next event.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant6" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
      <div class="location">
        <div class="location__image location__image--restaurant7"></div>
        <div class="location__information">
          <h2 class="location__title">Lulu Catering and Events</h2>
          <div class="location__description">Lulu Catering and Events continually strives to be the most reliable and creative catering company in the desert, always delivering a high standard of quality and value to our clients. We work in close partnership with you, our customers, to offer a service that sets new standards in catering and event planning. The broad range of successful parties and weddings we’ve produced in a variety of locations attest to our multifaceted talents. From intimate gatherings to luxurious galas, we pride ourselves on tailoring original concepts and designs to your particular style and budget. By combining innovative ideas with exceptional production skills, superior project management and culinary excellence, we create perfectly coordinated, unforgettable events.</div>
          <div class="location__cta">
            <div class="location__cta__icon">
              {%- include svg/pin.svg -%}
            </div>
            <a href="#" data-location="restaurant7" class="location__cta__text">Take me here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup__scroll">
    {%- include svg/arrow.svg -%}
  </div>
</div>
