<div class="popup" id="popup--shopping">
  <div class="popup__image" style="background-image: url('/assets/images/shopping.jpg');"></div>
  <div class="popup__header">
    <h1 class="popup__title">Shopping.</h1>
    <a href="#" class="popup__close" data-close-button>
      {%- include svg/close-button.svg -%}
    </a>
  </div>
  <div class="popup__body">
    <div class="location">
      <div class="location__image location__image--activity1"></div>
      <div class="location__information">
        <h2 class="location__title">Century River Theatre</h2>
        <div class="location__description">A multiplex theater showing frst run films, located 20 minutes from downtown Palm Springs, in Rancho Mirage.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity1" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity2"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Yacht Club at the Parker Palm Springs</h2>
        <div class="location__description">Spa/Food : We believe in the American country club experience: mixed doubles, a long steam, and a stiff cocktail. We believe in inner beauty.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity2" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity3"></div>
      <div class="location__information">
        <h2 class="location__title">Big Horse Carriage Co.</h2>
        <div class="location__description">Big Horse Carriage Co.now runs three carriages on the street and five wonderful draft horses. We also keep an antique carriage for special events. We have carriage rides running 7 evenings per week, weather allowing, leaving from Palm Canyon Drive in front of the Historic Village Green.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity3" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity5"></div>
      <div class="location__information">
        <h2 class="location__title">MidMod Design Tour</h2>
        <div class="location__description">See Palm Springs history in context, up-close-and-personal, through the eyes of talented designer, Lyle Boatman. This guide knows his material! He is the only tour guide working in Palm Springs that has a professional degree in Architecture.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity5" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity6"></div>
      <div class="location__information">
        <h2 class="location__title">Tahquitz Creek Golf Resort</h2>
        <div class="location__description">Tahquitz Creek Golf Resort is the pride of the City of Palm Springs and is located just minutes away from the Palm Springs International Airport and the always exciting Downtown Palm Springs. Tahquitz offers two championship golf courses.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity6" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity7"></div>
      <div class="location__information">
        <h2 class="location__title">Five Star Adventures Tours</h2>
        <div class="location__description">Relax in one of our air-conditioned, luxury mini-coaches or Mercedes-Benz Sprinter. Take an exclusive step back in time and see over 50 movie star homes of the past and present. Other tours include : Landmarks, Indian Canyons, Rat Pack Hideaway, Hollywood Movie Location</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity7" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity8"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Art Museum Architecture and Design Center, Edwards Harris Pavilion</h2>
        <div class="location__description">The Palm Springs Art Museum Architecture and Design Center, Edwards Harris Pavilion is located in downtown Palm Springs. It is the country’s first historic structure to be transformed into a free-standing architecture and design museum that is housed in a modern building. The 13,000 square foot building, designed by renowned mid-century modern architect E. Stewart Williams, is a classic mid-century international style structure, and was recently designated as a protected Class I Historic Site. It features a ground level glass pavilion space that will showcase architecture and design exhibitions, a store, and curatorial offices.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity8" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity9"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Visitors Center</h2>
        <div class="location__description">The staff at the Palm Springs Official Visitors Center provides information regarding Palm Springs accommodations, dining, shopping, museums, attractions and events.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity9" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity10"></div>
      <div class="location__information">
        <h2 class="location__title">Celebrity Tours</h2>
        <div class="location__description">Since the summer of 1963 Celebrity Tours has been attracting more people than ever as we continue sharing the stories, lure, and homes of the stars that helped make Palm Springs.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity10" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity11"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Art Museum</h2>
        <div class="location__description">Located in downtown Palm Springs, the museum’s extensive permanent collection includes significant works by western, contemporary and glass artists, and features temporary exhibitions from internationally acclaimed artists. Each month the museum features a free community day on the second Sunday of every month and is always free every Thursday from 4-8 p.m.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity11" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity12"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Air Museum</h2>
        <div class="location__description">Come for the History . . . . Stay for the Fun! The Palm Springs Air Museum is a non-profit educational institution and home to one of the world’s largest collections of flyable WWII Airplanes. In addition to flying aircraft, related artifacts, artwork and library sources are used to perpetuate American history.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity12" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity13"></div>
      <div class="location__information">
        <h2 class="location__title">Sunrise Park</h2>
        <div class="location__description">Sunrise Park is near the Palm Springs Swim Center, a City public pool. A beautiful outdoor Olympic-size pool perfect for lap swim and open to the public year round, every day; closed most holidays.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity13" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity14"></div>
      <div class="location__information">
        <h2 class="location__title">Adventure Hummer Tours</h2>
        <div class="location__description">Join the #1 eco-tour of the Desert and go where no one else can! We are rated #1 tour on Trip Advisor for Palm Springs. Take a ride a board an H-1 Hummer into the real desert! Our Hummers are OPEN AIR desert tours. Our tour has been seen on the Discovery Channel.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity14" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity15"></div>
      <div class="location__information">
        <h2 class="location__title">Desert Serenity Float & Spa</h2>
        <div class="location__description">Offering floatation therapy, massage, facials, waxing, microdermabrasion, eyelash extensions and more. Appointments required.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity15" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity16"></div>
      <div class="location__information">
        <h2 class="location__title">Desert Rocks Indoor Climbing Gym</h2>
        <div class="location__description">At Desert Rocks we are hoping to establish a climbing community for residents throughout the Valley. We also hope to offer visitors an exciting climbing experience during their stay in a safe and fun environment.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity16" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity17"></div>
      <div class="location__information">
        <h2 class="location__title">Toucans Tiki Lounge</h2>
        <div class="location__description">Toucans Tiki Lounge brings together the magic of a tropical paradise with the best in entertainment. With broad appeal Toucans offers something for everyone</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity17" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity18"></div>
      <div class="location__information">
        <h2 class="location__title">Agua Caliente Casino Palm Springs</h2>
        <div class="location__description">Nestled in the heart of downtown Palm Springs, California, is the Agua Caliente Casino. Just moments away are the boutiques and galleries, hotels and restaurants that make Palm Springs one of California’s most adored resort getaways.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity18" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity19"></div>
      <div class="location__information">
        <h2 class="location__title">Palm Springs Windmill Tours</h2>
        <div class="location__description">Explore historical exhibits of past machines and a photo gallery exploring the evolution of wind energy in the Coachella Valley. Tours are offered daily and last one and a half to two hours.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity19" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity20"></div>
      <div class="location__information">
        <h2 class="location__title">Carnival Cabaret</h2>
        <div class="location__description">Carnival Cabaret is downtown Palm Springs' hit dinner-show. Now in its 3rd smash season, Carnival Cabaret is a favorite among locals, tourists and celebrities too. From bridal parties, girls night out, and office parties, to senior groups and casino groups, Carnival Cabaret is always a star-studded event</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity20" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity21"></div>
      <div class="location__information">
        <h2 class="location__title">Moorten Botanical Garden</h2>
        <div class="location__description">Long established in beautiful Palm Springs, California, since 1938, this private arboretum was created to share with everyone the beauty and extraordinary varieties of desert plants from around the world. Featuring desert trees and cacti from miniatures to giants.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity21" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__image location__image--activity22"></div>
      <div class="location__information">
        <h2 class="location__title">Sunny Cycle</h2>
        <div class="location__description">The Sunny Cycle is a safe and entertaining service while partnering with local businesses to make the Palm Springs experience a memorable one. Sunny Cycle is engineered on a technology platform that is considered ‘best in class’, with the cycle boasting a flat screen TV, stereo sound system, USB port phone chargers, misters, under-carriage lighting, under-canopy lighting, and an electric motor assist function.</div>
        <div class="location__cta">
          <div class="location__cta__icon">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" data-location="activity22" class="location__cta__text">Take me here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="popup__scroll">
    {%- include svg/arrow.svg -%}
  </div>
</div>
