<div class="popup" id="popup--shopping">
  <div class="popup__header">
    <h1 class="popup__title">Shopping.</h1>
    <a href="#" class="popup__close" data-close-button>
      {%- include svg/close-button.svg -%}
    </a>
  </div>
  <div class="popup__body">
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <h2 class="popup__item__title">Trail Name</h2>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.svg -%}
          </div>
          <a href="#" class="popup__item__cta">Take me here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="popup__scroll">
    {%- include svg/arrow.svg -%}
  </div>
</div>
