<div class="popup" id="popup--trails">
  <div class="popup__header">
    <div class="popup__title">Top Hiking Trails</div>
    <button class="popup__close" data-close-button>&times;</button>
  </div>
  <div class="popup__body">
    <p>This is content.</p>
  </div>
</div>


<!--   <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
 -->
