<div class="popup" id="popup--trails">
  <div class="popup__header">
    <h1 class="popup__title">Top Hiking Trails.</h1>
    <a href="#" class="popup__close" data-close-button>
      {%- include svg/close-button.html -%}
    </a>
  </div>
  <div class="popup__body">
    <div class="item">
      <div class="item__image item__image--trail1"></div>
      <div class="item__information">
        <h2 class="item__title">Trail Name</h2>
        <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="item__cta">
          <div class="item__cta__icon">
            {%- include svg/pin.html -%}
          </div>
          <a href="#" data-location="res1" class="item__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item__image item__image--trail1"></div>
      <div class="item__information">
        <h2 class="item__title">Trail Name</h2>
        <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="item__cta">
          <div class="item__cta__icon">
            {%- include svg/pin.html -%}
          </div>
          <a href="#" data-location="res2" class="item__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item__image item__image--trail1"></div>
      <div class="item__information">
        <h2 class="item__title">Trail Name</h2>
        <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="item__cta">
          <div class="item__cta__icon">
            {%- include svg/pin.html -%}
          </div>
          <a href="#" data-location="res3" class="item__cta__text">Take me here</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item__image item__image--trail1"></div>
      <div class="item__information">
        <h2 class="item__title">Trail Name</h2>
        <div class="item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="item__cta">
          <div class="item__cta__icon">
            {%- include svg/pin.html -%}
          </div>
          <a href="#" data-location="res1" class="item__cta__text">Take me here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="popup__scroll">
    {%- include svg/arrow.html -%}
  </div>
</div>
