<div class="popup" id="popup--trails">
  <div class="popup__header">
    <div class="popup__title">Top Hiking Trails.</div>
    <button class="popup__close" data-close-button>
      {%- include svg/close-button.html -%}
    </button>
  </div>
  <div class="popup__body">
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <div class="popup__item__title">Trail Name</div>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.html -%}
          </div>
          <button class="popup__item__cta">Take me here</button>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <div class="popup__item__title">Trail Name</div>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.html -%}
          </div>
          <button class="popup__item__cta">Take me here</button>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <div class="popup__item__title">Trail Name</div>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.html -%}
          </div>
          <button class="popup__item__cta">Take me here</button>
        </div>
      </div>
    </div>
    <div class="popup__item">
      <div class="popup__item__image"></div>
      <div class="popup__item__information">
        <div class="popup__item__title">Trail Name</div>
        <div class="popup__item__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <div class="popup__item__location">
          <div class="popup__item__pin">
            {%- include svg/pin.html -%}
          </div>
          <button class="popup__item__cta">Take me here</button>
        </div>
      </div>
    </div>
  </div>
  <div class="popup__scroll">
    {%- include svg/arrow.html -%}
  </div>
</div>
