.location {
  display: flex;
  padding-bottom: 20px;

  &--event {
    display: none;
    flex-basis: calc(50% - 20px);

    &.active {
      display: flex;
    }
  }

  &__image {
    background-image: url('/assets/images/placeholder.jpg');
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    margin-top: 6px;

    @include breakpoint(tablet) {
      width: 120px;
      height: 120px;
    }
  }

  &__information {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.25rem;
  }

  &__title {
    font-size: 2rem;
    margin: 0 0 10px;

    @include breakpoint(tablet) {
      font-size: 1.25rem;
    }
  }

  &__description {
    margin-bottom: 10px;

    @include breakpoint(tablet) {
      font-size: 1rem;
    }
  }

  &__date,
  &__time {
    margin-bottom: 5px;
    font-weight: 600;

    @include breakpoint(tablet) {
      font-size: 1rem;
    }
  }

  &__cta {
    margin-top: 10px;
    display: flex;
    color: $black;

    &__text {
      position: relative;
      color: $green;
      margin-left: 5px;

      @include breakpoint(tablet) {
        font-size: 1rem;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 115px;
        height: 2px;
        background: $green;

        @include breakpoint(tablet) {
          bottom: 6px;
          width: 92px;
        }
      }

      &--yellow {
        color: $yellow;
        margin-left: 10px;

        &:after {
          width: 140px;
          background-color: $yellow;
          bottom: 10px;

          @include breakpoint(tablet) {
            width: 110px;
            bottom: 6px;
          }
        }
      }
    }
    &__icon {
      color: $black;

      svg {

        @include breakpoint(tablet) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
