.events {
  min-height: 500px;

  &__title {
    background-color: $yellow;
  }

  &__calendar {
    background: #fff;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 1.25rem;
    width: 400px;
  }

  &__body {
    padding: 0 30px;
    max-width: $wide;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
}

.item {

  &__information {

    &--event {
      flex-basis: 50%;
    }
  }

  &__image {

    &--event {
      width: 250px;
      height: 250px;
      background-image: url('/assets/images/trails.jpg');
    }
  }

  &--event {
  display: none;
  flex-basis: calc(50% - 20px);
  transition: 200ms ease-in-out;

    &.active {
      display: flex;
      transition: 200ms ease-in-out;

    }
  }
  &__cta {

    &__text {

      &--event {
        color: $yellow;

        &:after {
          width: 140px;
          background-color: $yellow;
        }
      }
    }
  }
}

.reportrange {

  &__arrow {
    padding-left: 10px;
    color: $grey;

    svg {
      transform: rotate(-90deg);
      width: 10px;
      height: 10px;
    }
  }
}

.daterangepicker {

  .drp-buttons {

      .btn {
        background: none;
    }
  }
}

.events__message {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 80px;
  display: none;
  transition: 200ms ease-in-out;

  &.active {
    display: block;
    transition: 200ms ease-in-out;
  }
}
