.events {
  min-height: 500px;

  &__calendar {
    background-color: $white;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 1.25rem;

    @include breakpoint(tablet) {
      font-size: 1rem;
    }

    &__arrow {
    padding-left: 10px;
    color: $grey;

      svg {
        transform: rotate(-90deg);
        width: 10px;
        height: 10px;
      }
    }

    &__icon {

      @include breakpoint(tablet) {

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__body {
    padding: 0 30px;
    max-width: $wide;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(laptop) {
      flex-direction: column;
    }
  }
}

.events__message {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 80px;
  display: none;

  &.active {
    display: block;
  }
}
