.events {
  min-height: 500px;

  &__title {
    background-color: $yellow;
  }

  &__calendar {
    background: #fff;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 1.25rem;
    width: 400px;
  }

  &__body {
    padding: 0 30px;
    max-width: $wide;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .event {
      display: none;
      flex-basis: calc(50% - 20px);
      padding-bottom: 40px;
      transition: 200ms ease-in-out;

      &.active {
        display: flex;
        transition: 200ms ease-in-out;
      }

      &__image {
        background-image: url('/assets/images/trails.jpg');
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 250px;
        border-radius: 5px;
      }

      &__information {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: 1.25rem;
      }

      &__title {
        font-size: 2rem;
        margin: 0 0 10px;
      }

      &__description {
        margin-bottom: 20px;
      }

      &__date {
        margin-bottom: 10px;
        font-weight: 600;
      }

      &__time {
        margin-bottom: 10px;
        font-weight: 600;
      }

      &__cta {
        display: flex;

        &__calendar {
          display: flex;

          svg {
            width: 28px;
            height: 28px;

            path {
              stroke-width: 22;
            }
          }
        }

        &__button {
          position: relative;
          color: $yellow;

          &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 140px;
            height: 2px;
            background: $yellow;
          }
        }
      }
    }
  }
}

.reportrange {

  &__arrow {
    padding-left: 10px;

    svg {
      transform: rotate(-90deg);
      width: 10px;
      height: 10px;

      path {
        fill: $grey;
      }
    }
  }

  &__calendar {

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke-width: 30px;
      }
    }
  }
}

.daterangepicker {

  .drp-buttons {

      .btn {
        background: none;
    }
  }
}

.events__message {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 80px;
  display: none;
  transition: 200ms ease-in-out;

  &.active {
    display: block;
    transition: 200ms ease-in-out;
  }
}
