.hotspots {

//Main styles for title defined in components/_title.scss
  &__title {
    background-color: $orange;
  }

//Main styles for slideshow defined in
  .glide {

    &__slide {

      &__wrapper {
        height: 130vh;
      }

      &__item {
        flex-basis: calc(33% - 20px);
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__title {
        position: static;
        font-size: 3rem;
        text-shadow: 2px 2px 30px $grey;
        background-color: transparent;
      }
    }
  }
}

