.hotspots {

  &__title {
    background-color: $orange;
  }

  .glide {

    &__slide {

      &__wrapper {
        height: 130vh;
      }

      &__item {
        flex-basis: 32%;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__title {
        position: static;
        font-size: 3rem;
        text-shadow: 2px 2px 30px $grey;
        background-color: transparent;
      }
    }
  }
}

