.siteseeing {

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin-top: 70px;
    padding: 30px 0;
    background-color: $green;
    color: $white;
  }
}

.glide {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 70px;

  &__arrow {
    border-radius: 50%;
    border: 2px solid $green;
    box-shadow: none;
    text-shadow: none;
    padding: 0;
    width: 30px;
    height: 30px;

    svg {
      fill: $green;
    }
  }

    :hover {
      border-color: $green;
    }

  &__bullets {
    bottom: -1em;
  }

  &__bullet {
    border: 2px solid $green;
    box-shadow: none;
    text-shadow: none;
    padding: 5px;

    &:focus {
      border: 2px solid $green;
      background-color: $green;
    }

    &--active {
      background-color: $green;
    }

    :hover{
      border-color: $green;
    }
  }

  &__slide {

    padding-right: 140px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80vh;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      flex-basis: 48%;
    }

    &__item {
      position: relative;
      flex-basis: 48%;
      border-radius: 10px;
      overflow: hidden;
      background-size: cover;
      background-position: center bottom 50px;

      &--trails {
        background-image: url(/assets/images/trails.jpg);
      }

      &--instagrammable {
        background-image: url(/assets/images/instagrammable.jpg);
      }

      &--activities {
        background-image: url(/assets/images/activities.jpg);
      }

      &--houses {
        background-image: url(/assets/images/houses.jpg);
      }

      &--restaurants {
        background-image: url(/assets/images/restaurants.jpg);
      }

      &--hotels {
        background-image: url(/assets/images/hotels.jpg);
      }

      &--shopping {
        background-image: url(/assets/images/shopping.jpg);
      }
    }

    &__title {
      position: absolute;
      padding: 20px 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      color: $white;

      &--trails,
      &--restaurants {
        background-color: $orange;
      }

      &--instagrammable,
      &--hotels {
        background-color: $pink;
      }

      &--activities,
      &--shopping {
        background-color: $blue;
      }

      &--houses {
        background-color: $lightgreen;
      }
    }
  }
}
