.welcome {
  padding: 40px 30px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-size: 3rem;
  }

  &__body {
    font-size: 1.25rem;
  }

  &__pass {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid black;
    margin: 30px auto 0;
    width: 200px;
  }

  &__social {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    &__item {
      margin: 0 5px;
      display: block;
      width: 47px;
      height: 47px;
      background-size: 3rem 3rem;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;

        &--facebook {
          background-image: url(../images/svg/facebook.svg);
        }

        &--twitter {
          background-image: url(../images/svg/twitter.svg);
        }

        &--instagram {
          background-image: url(../images/svg/instagram.svg);
        }
      }
  }
}
