.welcome {
  padding: 0 30px;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  &__body {
    font-size: 1.4rem;
  }

  &__pass {
    display: block;
    font-size: 1.9rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    margin: 20px auto 0;
    width: 172px;
    line-height: 1;
  }

  &__social {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    &__item {
      margin: 0 3px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
