@font-face {
  font-family: "futura";
  src: url("/assets/fonts/futura_regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "futura";
  src: url("/assets/fonts/futura_medium.ttf");
  font-weight: 700;
}

