// Fonts
$futura: 'futura', -apple-system, BlinkMacSystemFont, sans-serif;

// Colors
$white: #fff;
$black: #111;
$green: #529c8d;
$orange: #f6844e;
$yellow: #e0b16d;
$blue: #4e99f6;
$pink: #f64e91;
$lightgreen: #1eb570;
